$background:  #3da8c4;
$font-stack: Tahoma, Arial, Helvetica, sans-serif;

body {
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}

.suggestion {
  width: 20vh;
  height: 10vh;
  background-color: $background;
  color: white;
  font-size: 2.5vmin;
  /* font-weight: bold; */
  font-family: $font-stack;
  border-width: 2px 2px 2px 0px;
  border-style: solid;
  border-color: white;
}
w
.suggestions {
  margin-top: 10vh;
}

/*
.resume {
  width: 48vw;
  margin-left: 2vw;
  height: 5vh;
}
*/

.display {
  width: 48vw;
  height: 5vh;
}

.entry {
  margin: auto;
  width: 10vh;
  height: 10vh;
  background-color: $background;
  color: white;
  font-size: 4vmin;
  /* font-weight: bold; */
  font-family: $font-stack;
  /* border: 2px solid white; */
  border: 1px solid white;
}

.entry-wide {
  margin: auto;
  width: 20vh;
  height: 10vh;
  background-color: $background;
  color: white;
  font-size: 4vmin;
  /* font-weight: bold; */
  font-family: $font-stack;
  /* border: 2px solid white; */
  border: 1px solid white;
}

.entry-extra-wide {
  margin: auto;
  width: 20vh;
  height: 10vh;
  background-color: $background;
  color: white;
  font-size: 4vmin;
  /* font-weight: bold; */
  font-family: $font-stack;
  /* border: 2px solid white; */
  border: 1px solid white;
}

.userInput,
.options {
  margin-top: 1vh;
}

.option {
  width: 19.8vw;
  height: 12.5vh;
  background-color: $background;
  color: white;
  font-size: 4vmin;
  /* font-weight: bold; */
  font-family: $font-stack;
  /* border: 2px solid white; */
  border: none;
}
