  .welcomeLogo {
    margin-left: 10px;
  }

  .logo{
    margin-left: 25px;
  }

.login, .sign-up, .back {
  background-color: #FF4500;
  border: none;
  color: white;
  height: 10vh;
  width: 30vw;
  text-align: center;
  font-size: 16px;
  margin-left: 35vw;
  margin-top: 5vh;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.login:hover {opacity: 1}


.sign-up {
  background-color: #00FF00;
}

.sign-up:hover {opacity: 1}

.back {
  background-color: #8b807a;
}

.back:hover {opacity: 1}

.email-input, .password-input, .name-user, .welcomeLogo {margin-left: 35vw; width: 30vw;}