aiofiles==0.4.0
autograd==1.2
bitstring==3.1.5
certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
emoji==0.5.1
enum-compat==0.0.2
future==0.17.1
httptools==0.0.11
idna==2.7
joblib==0.13.2
kiwisolver==1.0.1
marisa-trie==0.7.5
matplotlib==3.0.2
mne==0.17.1
multidict==4.4.2
muselsl==1.0.5
numpy==1.15.3
pandas==0.23.4
pexpect==4.6.0
ptyprocess==0.6.0
pygatt==3.2.0
pylsl==1.10.5
pyparsing==2.3.0
PyQt5==5.12
PyQt5-sip==4.19.14
pyriemann==0.2.5
pyserial==3.4
python-dateutil==2.7.3
python-engineio==2.3.2
python-socketio==2.0.0
pytz==2018.5
requests==2.20.0
sanic==0.8.3
scikit-learn==0.20.2
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
socketIO-client==0.7.2
urllib3==1.24
vispy==0.5.3
websocket-client==0.53.0
websockets==5.0.1

