{
$background:  #3da8c4;
$font-stack: Tahoma, Arial, Helvetica, sans-serif;
}

body {
	overflow-x: hidden;

}

#root {
  height: 100vh;
  width: 99vw;
}
.keyboard-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vmin;
  /* background-color: #52A0B4; */
}

.instructionScreen{
	background-color: #52A0B4;
	height: 93vh;
	width: 100vw;
	margin-top: -3vh;
  padding-top: 10vh;
  padding-left: 25vw;
  /* height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.leftMost {
	margin-left: 25vw;
}

.redText {
	color: red;
	font-weight: bold;
}

.blueText {
	color: blue;
	font-weight: bold;
}


.mindTypeColorText {
	color: white;
	margin-top: 1.5vh;
	width: 48vw;
	font-size: 5vmin;
	font-weight: lighter;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;

}

.oneLetter {
	margin-top: 4vh;
}

.oneWord {
	margin-top: -1.25vh;
}

.smallerText {
	font-size: 3.6vmin;
}

.upText {
	margin-top: 0.8vh;
}

.sentenceEmojiText {
	margin-top: 0.75vh;
}

.smallestText{
	font-size: 3.3vmin;
}


.suggestion {
  width: 16.5vmin;
  height: 8.25vmin;
  color: #52A0B4;
  background-color: white;
  font-size: 2.5vmin;
  /* font-weight: bold; */
  font-family: $font-stack;
  border-width: 2px 2px 2px 0px;
  border-style: solid;
  border-color: white;
  font-weight: bold;
}

.suggestions {}

/*
.resume {
  width: 48vw;
  margin-left: 2vw;
  height: 5vh;
}
*/

.display {
  width: 48vw;
  height: 5vh;
  background-color: #E6E5E5;
}

.displayWide {
  width: 66vw;
  height: 5vh;
  background-color: #E6E5E5;
}

.displayInstruction{
	height: 5vh;
	margin-top: 5vh;
	margin-bottom: 1vh;
	width: 48vw;
  background-color: #E6E5E5;
  border: none;
  border-radius: 1vmin;
}

.keysContainer {
	position: fixed;
	top: 20vh;
}

.displayWideInstruction {
	width: 50vw;
  height: 5vh;

  background-color: #E6E5E5;
}

.selectedTwo {
  width: 24vw;
  height: 24vh;
  margin-right: 0.8vw;
  margin-top: 0.75vh;
  color: white;
  background-color: #52A0B4;
  font-size: 12vmin;
  /* font-weight: bold; */
  font-family: $font-stack;
  /* border: 2px solid white; */
  border: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.chosenTwo{
	width: 24vw;
  height: 24vh;
  margin-right: 0.8vw;
  margin-top: 0.75vh;
  color: red;
  font-weight: bold;
  font-size: 12vmin;
  /* font-weight: bold; */
  font-family: $font-stack;
  /* border: 2px solid white; */
  border: none;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.selected {
  color: white;
  background-color: #3da8c4;
}

.notSelected {
	color: #52A0B4;
	background-color: white;
}

.selected.bottom {
  border-bottom:0.5px solid white;
}

.selected.right {
  border-right:0.5px solid white;
}

.chosen {
  color: red;
  background-color: white;
  font-weight: bold;
}

.chosen.bottom {
  border-bottom:0.5px solid white;
}

.chosen.right {
  border-right:0.5px solid white;
}

.selectedSmall {
	width: 7.75vw;
	height: 8vh;
	color: white;
	background-color: #52A0B4;
	font-size: 3vmin;
  /* font-weight: bold; */
	font-family: $font-stack;
  /* border: 2px solid white; */
	border: none;
	font-weight: bold;
	margin-right: 0.4vw;
	margin-top: 0.3vh;
}

.chosenSmall {
	/* width: 7.75vw;
	height: 8vh; */
	color: red;
	/* font-size: 3vmin; */
  /* font-weight: bold; */
	/* font-family: $font-stack; */
  /* border: 2px solid white; */
	/* border: none; */
	font-weight: bold;
	/* margin-right: 0.4vw; */
	/* margin-top: 0.3vh; */
}

.selected-wide-small {
	width: 9.4vw;
  height: 8vh;
  color: white;
  background-color: #52A0B4;
  font-size: 4vmin;
  /* font-weight: bold; */
  font-family: $font-stack;
  /* border: 2px solid white; */
  border: none;
  margin-right: 0.4vw;
  margin-top: 0.3vh;
}

.selected-wide-small {
	width: 9.4vw;
  height: 8vh;
  color: red;
  font-weight: bold;
  font-size: 4vmin;
  /* font-weight: bold; */
  font-family: $font-stack;
  /* border: 2px solid white; */
  border: none;
  margin-right: 0.4vw;
  margin-top: 0.3vh;
}


.userInput,
.options {
  margin-top: 1vh;
  font-weight: bold;
}

.option {
  width: 9.9vmin;
  height: 8.25vmin;
  color: #52A0B4;
  background-color: white;
  font-size: 4vmin;
  /* font-weight: bold; */
  font-family: $font-stack;
  /* border: 2px solid white; */
  border: 0.5px solid #3da8c4;
  font-weight: bold;
}

.optionSmall {
	width: 9.4vw;
	height: 8vh;
	margin-top: 0.6vh;
	margin-right: 0.4vw;
	color: #52A0B4;
  background-color: white;
  font-size: 4vmin;
  /* font-weight: bold; */
  font-family: $font-stack;
  /* border: 2px solid white; */
  border: none;
  font-weight: bold;
}

.switch {
  /* font-size: 3vmin !important; */
  background-color: #d5faff;
}

.twoByTwo{
	/* margin-left: 25vw; */
}

.topLeft{
	border-top-left-radius: 2vmin;
}

.topRight {
	border-top-right-radius: 2vmin;
}

.bottomLeft {
	border-bottom-left-radius: 2vmin;
}

.bottomRight {
	border-bottom-right-radius: 2vmin;
}


.login, .sign-up, .back, .continueButton, .goToMindType {
  border: none;
  color: white;
  height: 8vh;
  width: 30vw;
  text-align: center;
  font-size: 16px;
  margin-left: 35vw;
  margin-top: 5vh;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2vmin;
}

  .continueButton{
	background-color: blue;
	margin-bottom: 5vh;
	margin-left: 0vw;

}

.welcomeLogo {
	margin-top: 15vh;
}

.login {
	background-color: #52A0B4;
}

.login:hover {opacity: 1}


.sign-up {
  background-color: #F28585;
  margin-top: 2vh;
}

.goToMindType{
	background-color: orange;
	
}

.goToMindType:hover {opacity: 1}

.sign-up:hover {opacity: 1}

.back {
  background-color: #8b807a;
  margin-top: 2vh;
}

.back:hover {opacity: 1}

.continueButton:hover {opacity: 1}

.email-input, .password-input, .name-user, .welcomeLogo, .logoMindType {margin-left: 35vw; width: 30vw;}


.heading{
	font-weight: bold;
	font-size: 5vh;
}

.text{
	font-size: 3vh;
}

.ppText{
	font-size: 2.5vh;
}

.final {
	margin-left: 5vw;
}
 
.delete-img {
  width: 3.5vmin;
  height: auto;
}

.shift-img {
  width: 2.5vmin;
  height: auto;
}